:root {
  --black: #000;
  --white: #fff;
  --dark-gray-one: #707070;
  --dark-gray-two: #969696;
  --light-gray-one: #D9D9D9;
  --light-gray-two: #B4B4B4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, .container__header {
  background-color: var(--light-gray-one)
}

ul {
  list-style: none;
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.container__hero_text a,
.container__html code, 
.container__js code,
.container__css code {
  background-color: var(--light-gray-two);
}

.container__hero_text a:hover {
  background-color: var(--dark-gray-one);
  color: var(--white);
}

.container__html_menu li {
  background-color: var(--dark-gray-one);
}

.container__html_menu li:hover {
  background-color: var(--light-gray-one);
}